// Se agrega el comentario a la caja de comentarios
$('#comments-box').append("<li><%=@comment.body %> - <%=@comment.user.email %>></li>");
// Se limpia el campo de texto
$('#comments-form').find("textarea").val("")

