<div class="container top-space">
  <% @articles.each do |article| %>
    <h1 class="is-size-3"><%= link_to article.title, article %>"</h1>
    <div>
      <p class="is-size-6">
        <%= article.body %> - <%= link_to "Eliminar",article,class: "red",method: :delete %>
      </p>
    </div>
  <%end %>
</div>
